<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81164748349-58pc67d8jst68g3hae3thsa7b7l33bpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81164748349-58pc67d8jst68g3hae3thsa7b7l33bpv</string>
	<key>API_KEY</key>
	<string>AIzaSyCrPAqJZ7EelW4EIiCbl1tpWIXpBUxsx_g</string>
	<key>GCM_SENDER_ID</key>
	<string>81164748349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amabelabbas.thetulipmanager</string>
	<key>PROJECT_ID</key>
	<string>tulip-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>tulip-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81164748349:ios:c9ea572a117c3873df0c54</string>
</dict>
</plist>